In [14]:
import pandas as pd

selected_features_labeled  = pd.read_csv("selected_features.csv",sep='\t')

In [ ]:
##

selected_features_labeled.value_counts()
#zero_value_cols = selected_features_labeled.columns[(selected_features_labeled == 0).all()]
#zero_only_cols = selected_features_labeled.columns[(selected_features_labeled.eq(0)).all()]
zero_counts = (selected_features_labeled == 0).sum()

print("Total missing values: ", selected_features_labeled.isnull().sum().sum())
print("Missing values per column: \n", selected_features_labeled.isnull().sum())
print("Columns with all zero values: ", zero_counts)

Total missing values:  0
Missing values per column:
 SEQN        0
BPQ020      0
DIQ010      0
DID040      0
DIQ220      0
DIQ190A     0
DIQ190B     0
DIQ230      0
DID260      0
DIQ280      0
DIQ300S     0
DIQ300D     0
PAQ180      0
PADACTIV    0
PADDURAT    0
SLD010H     0
LBXAPB      0
LBDINSI     0
LBXGH       0
RIAGENDR    0
RIDAGEMN    0
dtype: int64
Columns with all zero values:  SEQN           0
BPQ020         0
DIQ010         0
DID040      4733
DIQ220      4914
DIQ190A        0
DIQ190B        0
DIQ230      4733
DID260      4765
DIQ280      4785
DIQ300S     4733
DIQ300D     4733
PAQ180         0
PADACTIV       0
PADDURAT       3
SLD010H        0
LBXAPB       349
LBDINSI      372
LBXGH        329
RIAGENDR       0
RIDAGEMN      32
dtype: int64

In [16]:
zero_counts = (selected_features_labeled == 0).sum()
print("Number of zeros in the selected features:", zero_counts)

#drop columns
selected_features_labeled = selected_features_labeled.drop(columns=[
    'DID040', 'DIQ220', 'DIQ230', 'DID260', 'DIQ280', 'DIQ300S', 'DIQ300D'
], errors='ignore')

cols_to_check = ['LBXAPB', 'LBDINSI', 'LBXGH', 'PADDURAT', 'RIDAGEMN']

# Drop rows where any of the specified columns contain a zero
selected_features_labeled = selected_features_labeled[(selected_features_labeled[cols_to_check] != 0).all(axis=1)]

Number of zeros in the selected features: SEQN           0
BPQ020         0
DIQ010         0
DID040      4733
DIQ220      4914
DIQ190A        0
DIQ190B        0
DIQ230      4733
DID260      4765
DIQ280      4785
DIQ300S     4733
DIQ300D     4733
PAQ180         0
PADACTIV       0
PADDURAT       3
SLD010H        0
LBXAPB       349
LBDINSI      372
LBXGH        329
RIAGENDR       0
RIDAGEMN      32
dtype: int64

In [17]:
#selected_features_labeled

## save cleaned data to a CSV file
def save_cleaned_data(df, data_path="selected_features_final.csv"):
    if not df.empty:
        df.to_csv(data_path, sep='\t', index=False)
    else:
        print("No data to save.")

save_cleaned_data(selected_features_labeled, data_path="selected_features_final.csv")

In [25]:
## preDM filter
def main():
    combined_selected_features = pd.read_csv('selected_features_final.csv', sep='\t')
    preDM_criteria = (combined_selected_features['LBDINSI'] >= 100) | (combined_selected_features['LBXAPB'] >= 110) | (combined_selected_features['LBXGH'] >= 5.5)

    combined_selected_features = preDMCondFilter(combined_selected_features, preDM_criteria)
    return combined_selected_features

def preDMCondFilter(combined_selected_features, preDM_criteria):
    
    #combined_selected_features.columns = combined_selected_features.columns.str.strip()

    combined_selected_features['PreDM'] = preDM_criteria.astype(int)

    combined_selected_features = combined_selected_features.drop(columns=['LBDINSI', 'LBXAPB', 'LBXGH'], errors='ignore')    

    combined_selected_features.to_csv('selected_features_labeled_final.csv', sep='\t', index=False)

    return combined_selected_features
    
if __name__ == "__main__":
    main()

In [26]:
main()

,SEQN,BPQ020,DIQ010,DIQ190A,DIQ190B,PAQ180,PADACTIV,PADDURAT,SLD010H,RIAGENDR,RIDAGEMN,PreDM
0,31132.0,1.0,1.0,1.0,1,2,42.0,40.0,7.0,1.0,842,1
1,31132.0,1.0,1.0,1.0,1,2,19.0,240.0,7.0,1.0,842,1
2,31134.0,1.0,2.0,1.0,1,3,42.0,30.0,7.0,1.0,882,1
3,31148.0,2.0,2.0,2.0,2,2,23.0,60.0,7.0,2.0,194,0
4,31150.0,2.0,2.0,2.0,2,4,43.0,60.0,8.0,1.0,959,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4531,41462.0,2.0,2.0,2.0,2,3,42.0,30.0,8.0,1.0,678,0
4532,41462.0,2.0,2.0,2.0,2,3,20.0,120.0,8.0,1.0,678,0
4533,41462.0,2.0,2.0,2.0,2,3,29.0,10.0,8.0,1.0,678,0
4534,41465.0,2.0,2.0,1.0,1,1,42.0,30.0,6.0,2.0,222,1
4535,41472.0,1.0,2.0,2.0,1,2,29.0,20.0,8.0,1.0,410,0